@tailwind base;
@tailwind components;

.h-fade {
  background:
    linear-gradient(#060913, transparent 8%),
    /* radial-gradient(ellipse closest-corner at 50% 10%, #111827 50%, transparent) */
    linear-gradient(transparent 92%, #060913)
}

.edge-fade {
  background: radial-gradient(ellipse farthest-corner, #060913 98%, transparent);
  box-shadow: 0 0 16px 8px #060913;
}

.diagonal-wash {
  background:
    linear-gradient(45deg,
      transparent 5%,
      #060913 20%,
      #060913 80%,
      transparent 95%
    );
}

.color-gradient {
  background: linear-gradient(120deg,
    transparent 10%,
    #14B8A6,
    #0EA5E9,
    #6366F1,
    #A855F7,
    #D946EF,
    #F43F5E,
    #F97316,
    #EAB308,
    #22C55E,
    transparent 90%
  );
}

.text-gradient {
  background: linear-gradient(120deg,
    #A855F7,
    #6366F1,
    #0EA5E9,
    #14B8A6,
    #22C55E,
    #EAB308,
    #F97316,
    #F43F5E,
    #D946EF
  );
  color: transparent;
  background-clip: text;
}

.backlit {
  box-shadow:
    0px 8px 12px -4px rgba(255,255,255,.2),
    0px -8px 12px -4px rgba(255,255,255,.2),
    -4px 0px 12px -4px rgba(255,255,255,.2),
    4px 0px 12px -4px rgba(255,255,255,.2)
}

.dots {
  background-image: url("data:image/svg+xml, \
    %3Csvg width='24' height='24' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg'%3E \
      %3Cpath \
        fill='%23000' \
        fill-opacity='0.95' \
        fill-rule='evenodd' \
        d='M 0 0 L 0 24 L 24 24 L 24 0 L 0 0 M 6 12 a 4 4 0 1 1 10 0 a 4 4 0 1 1 -10 0 Z' \
      %3E%3C/path%3E \
    %3C/svg%3E"
  );
}

@tailwind utilities;
